h5 {
    font-size: large;
    padding-top: 30px;
}
//#292929 box
//#1d1d1d fond
.blog {
    &__card {
        &--box {
            background-color:#292929 ;
            box-shadow: 0px 12px 8px 0px rgba(0,0,0,0.75);
        }
    }
}

.grid {
    &__Instagram {
        display: grid;
  grid-template-columns: repeat(3,1fr) ;
  grid-template-rows: 20% 20%;
  align-content: center;
  gap: 10px;
  padding: 10%;
    }
}

.img {
    &__Instagram {
        width: 100%;

    }
}

.Archives {
    text-align: left;
    margin: 20px;
}

li {
    list-style-type:none;
}