* {
    margin: 0;
    padding: 0;
}
footer{
    display: flex;
    width: 100%;
    color: #717171;
    font-size: 14px;
    font-family: Hind, sans-serif;
    background-image: url(../images/gallery/slide-3.jpg);
}
.background{
    width: 100%;
    backdrop-filter: brightness(0.1);
}
.section{
    margin: 10px 20px;
}
.end{
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    margin-left: 20px;
    margin-top: 30px;
}
.number{
    width: 70px;
    display: flex;
    flex-direction: row;
    hr{
        transform: rotate(90deg);
        height: 20px;
        margin-left: 20px;
        border-color: #F60B0E;
    }
}
h4{
    color: whitesmoke;
    font-family: Montserrat, sans-serif;
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: 21px;
}
.end_address{
    margin: 15px 0px 40px 20px;
    line-height: 20px;
}
.end_usefulLinks{
    margin: 15px 0px 40px 20px;
    line-height: 30px
}

.end_working{
    margin: 15px 0px 40px 20px;
    .end_working_hours{
        display: flex;
        flex-direction: row;
    }
    .end_working_hours_day{
        margin-right: 30px;
        line-height: 35px;
    }
    .end_working_hours_time{
        line-height: 35px;
    }
}
.end_socialLinks{
    margin: 15px 0px 40px 20px;
    .svg-inline--fa{
        width: 16px;
        height: 16px;
        color: whitesmoke;
        background-color: gray;
        border-radius: 20px;
        padding: 10px;
        margin-right: 5px;
        margin-top: 15px;
    }
}
.endFooter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 25px;
    img{
        width: 110px;
        margin: 15px 0px;
    }
}
ul{
    padding: 0px;
}
li{
    list-style: none;
    text-transform: uppercase;
}
a{
    text-decoration: none;
    color: #717171;
}
.email{
    color: whitesmoke;
}

//screen tablet 768px
@media screen and (min-width:760px) 
{
    // footer{
    //     display: flex;
    //     flex-direction: row;
    // }
    .section {
        width: 145px;
    }
}
