@use '../scss/base/typographie' as t;
* {
    font-family: t.$font_paragraphs;
}
.titlePageRooms{
    height: 100%;
    background-image: url(../images/gallery/slide-1.jpg);
    background-size: cover;
    background-position: center;
    color: #fefefe;
    text-align: center;
    strong{
        color: gray;
    }
    p{
        padding-bottom: 70px;
        font-size: small;
    }
    h1{
        font-size: xx-large;
        font-family: t.$font__heading;
    }
}
.buttonSectionRooms{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color:  #222222;
    padding-top: 20px;
    button{
        width: 160px;
        height: 35px;
        border-radius: 20px;
        color: #fefefe;
        background-color:  #222222;
        border: 1px solid #fefefe;
        margin-bottom: 15px;
    }
    button:hover{
        background-color: #F60B0E;
        border: none;
    }
}

.rooms{
    background-color:  #222222;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr)); 
    grid-gap: 1em;
    grid-auto-rows: 550px;
}
.backgroundRooms{
    backdrop-filter: brightness(0.4);
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    h2{
        margin: 10px 10px 10px 30px;
        color: #fefefe;
        font-size: large;
        font-family: t.$font__heading;
    }
}
.lockIconRooms{
    margin: 10px 10px 10px 30px;
    .svg-inline--fa{
        height: 0.9em;
    }
}

.infoRooms{
    width: 180px;
    margin: 10px 10px 20px 30px;
    display: flex;
    justify-content: space-between;
    color: #fefefe;
    font-size: 0.8em;
    .fat-solid fa-user-group{
        color: #fefefe;
    }
    .fa-regular fa-clock{
        color: #fefefe;
        width: 20px;
    }
    .svg-inline--fa{
        height: 0.8em;
        margin-top: 4px;
        margin-right: 10px;
    }
    .infoRooms_people, .infoRooms_clock, .infoRooms_location{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
}
.rooms_magicImperium{
    background-image: url(../images/gallery/slide-2.jpg);
    background-size: cover;
    background-position: center;
    margin: 10px;
}
.rooms_theCure{
    background-image: url(../images/gallery/room-2.jpg);
    background-size: cover;
    background-position: center;
    margin: 10px;
}
.rooms_burlesque{
    background-image: url(../images/gallery/room-3.jpg);
    background-size: cover;
    background-position: center;
    margin: 10px;
}
.rooms_theHospital{
    background-image: url(../images/gallery/room-5.jpg);
    background-size: cover;
    background-position: center;
    margin: 10px;
}
.rooms_abandonedFactory{
    background-image: url(../images/gallery/gallery-1.jpg);
    background-size: cover;
    background-position: center;
    margin: 10px;
}
.rooms_bunker51{
    background-image: url(../images/gallery/room-7.jpg);
    background-size: cover;
    background-position: center;
    margin: 10px;
}
.rooms_theMysticalRoom{
    background-image: url(../images/gallery/room-8.jpg);
    background-size: cover;
    background-position: center;
    margin: 10px;
}
.rooms_backToTheFutur{
    background-image: url(../images/gallery/room-9.jpg);
    background-size: cover;
    background-position: center;
    margin: 10px;
}




//screen tablet 768px
@media screen and (min-width:760px) and (max-width:1023px){
    .rooms{
        grid-template-columns: repeat(4, 180px);
        grid-gap: 0.2em;
        grid-auto-rows: 260px;
        padding-bottom: 100px;
        justify-content: center;
    }
    .backgroundRooms {
        h1{
            font-size: 44px;
        }
        p{
            font-size: 12px ;
        }
        h2{
            font-size: 17px;
            margin: 10px 5px 10px 20px;
        }
    }
    .buttonSectionRooms{
        height: 150px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 20px;
        button{
            width: 100px;
            margin-bottom: 15px;
            margin-right: 15px;
        }
    }
    .infoRooms{
        width: 100px;
        margin: 5px 5px 15px 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .lockIconRooms{
        margin: 5px 5px 5px 20px;
    }
    .infoRooms_people, .infoRooms_clock, .infoRooms_location{
        margin-bottom: 0px !important;
    }
    .infoRooms .svg-inline--fa {
        margin-top: 6px;
    }
}
//screen laptop min 1024px
@media screen and (min-width: 1024px) {
    .rooms{
        p{
        font-size: 16px ;
        }
        grid-template-columns: repeat(4, 320px);
        grid-gap: 0.2em;
        grid-auto-rows: 400px;
        padding-bottom: 100px;
        justify-content: center;
        }
    .backgroundRooms {
        h1{
            font-size: 120px;
        }
        p{
            font-size: 16px ;
        }
        h2{
            font-size: 44px;
        }
    }
    .buttonSectionRooms{
        height: 150px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 20px;
        button{
            width: 100px;
            margin-bottom: 15px;
            margin-right: 15px;
        }
    }
}
