@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(75px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.transitionIn {
  animation: transitionIn 0.7s ease-in-out;
}

.transitionInDelay {
  animation: transitionIn 1s ease-in-out;
}

@keyframes switchCarousel {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.switchCarousel {
  animation: switchCarousel 0.4s ease-in;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p,
a {
  font-family: "Hind", sans-serif;
  text-decoration: none;
}

header {
  background-color: #1B1B1B;
}

.carousel {
  background-image: linear-gradient(0deg, rgb(27, 27, 27) 0%, rgba(0, 0, 0, 0) 100%), url(../images/gallery/slide-1.jpg);
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 300px 0;
  width: 100%;
}
.carousel h1 {
  color: white;
  font-size: 120px;
  padding-left: 150px;
  padding-bottom: 25px;
  line-height: 1;
}
.carousel a {
  color: lightgrey;
  position: relative;
  padding-left: 285px;
  font-size: 14px;
  letter-spacing: 2px;
  animation: transitionIn 3s;
}
.carousel a:hover {
  color: #F60B0E;
  transition: ease-in 0.2s;
}
.carousel a:before {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background: lightgrey;
  position: absolute;
  left: 150px;
  top: 40%;
}
.carousel .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 25px;
}
.carousel .right span {
  position: relative;
  color: lightgray;
  font-size: 24px;
  line-height: 25px;
  cursor: pointer;
}
.carousel .right span:hover {
  color: white;
  transform: scale(1.5);
  transition: ease-in 0.1s;
}

.rooms {
  background-color: #1B1B1B;
  color: white;
}
.rooms h2 {
  padding-top: 150px;
  text-align: center;
  font-size: 44px;
  position: relative;
}
.rooms h2::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 2px;
  background-color: #717171;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}
.rooms__btn {
  padding: 75px 0 150px 0;
  text-align: center;
}
.rooms a {
  color: white;
  font-size: 18px;
  border-radius: 35px;
  padding: 20px 50px;
  border: 1.5px solid #717171;
}
.rooms a:hover {
  opacity: 0.7;
  transition: ease-in-out 0.4s;
}

.card__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
  padding: 50px 0;
}
.card__one, .card__two, .card__three {
  max-width: 1200px;
  display: flex;
}
.card__one, .card__three {
  flex-direction: row-reverse;
}
.card__photo img {
  width: 770px;
  height: 550px;
  transform: scale(0.8);
}
.card__content {
  background-color: #242424;
  padding: 50px;
  box-shadow: -2px 3px 10px 5px rgba(0, 0, 0, 0.2);
  transform: translate(-80px);
}
.card__level {
  display: flex;
  gap: 5px;
  padding: 20px 0;
}
.card__level .lock__img {
  width: 16px;
}
.card__level .lock__img--grey {
  filter: invert(49%) sepia(0%) saturate(1465%) hue-rotate(169deg) brightness(89%) contrast(87%);
  width: 16px;
}
.card__level .lock__img--red {
  filter: invert(22%) sepia(64%) saturate(6671%) hue-rotate(0deg) brightness(92%) contrast(133%);
  width: 16px;
}
.card__title {
  font-size: 36px;
  padding: 10px 0;
}
.card__title:hover {
  color: #F60B0E;
  transition: ease-in 0.3s;
  cursor: pointer;
}
.card__infos {
  display: flex;
  gap: 15px;
  font-size: 12px;
  padding-bottom: 20px;
  color: #717171;
}
.card__infos__people, .card__infos__time, .card__infos__location {
  display: flex;
  align-items: center;
}
.card__text {
  padding: 10px 0 50px 0;
  color: #717171;
}
.card__btn {
  padding: 20px 0;
}
.card__btn a {
  color: white;
  background-color: #F60B0E;
  border: none;
  padding: 15px 40px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 35px;
}
.card__btn a:hover {
  opacity: 0.7;
  transition: ease-in 0.2s;
}

.icon {
  width: 30px;
  height: 30px;
  padding-right: 10px;
  filter: invert(100%) sepia(94%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
}
.icon__who {
  width: 50px;
  height: 50px;
  filter: invert(49%) sepia(100%) saturate(7292%) hue-rotate(348deg) brightness(89%) contrast(119%);
}

.reversed {
  transform: translate(80px);
}

.works {
  background-color: #222222;
  color: white;
  text-align: center;
}
.works h2 {
  padding-top: 150px;
  font-size: 44px;
  position: relative;
}
.works h2::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 2px;
  background-color: #717171;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}
.works__wrapper {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.works__content {
  text-align: center;
  max-width: 450px;
  height: 450px;
  padding: 30px;
}
.works__content img {
  width: 75px;
  margin: 0 auto;
  filter: brightness(0) invert(1);
  padding-bottom: 50px;
}
.works__content h3 {
  font-size: 32px;
  padding: 20px 0;
}
.works__content p {
  color: #717171;
}

.testimonials h2 {
  font-size: 44px;
  text-align: center;
  padding: 150px;
  position: relative;
}
.testimonials h2::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 2px;
  background-color: lightgrey;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
}
.testimonials__wrapper {
  display: flex;
  justify-content: center;
  gap: 150px;
}
.testimonials__content {
  max-width: 30%;
}
.testimonials .quote {
  text-align: center;
  padding-bottom: 50px;
  font-size: 16px;
  color: #717171;
}
.testimonials img {
  margin: 0 auto;
  padding-bottom: 25px;
}
.testimonials .name {
  text-align: center;
  padding-bottom: 75px;
  letter-spacing: 2.5px;
}

.slider {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 75px;
}
.slider__middle {
  content: "";
  width: 150px;
  height: 1px;
  background-color: #717171;
  transform: translateY(90px) rotate(-45deg);
}
.slider__left, .slider__right {
  font-size: 100px;
  cursor: pointer;
}
.slider__left:hover, .slider__right:hover {
  color: #F60B0E;
}

.blog {
  text-align: center;
  background-color: #1B1B1B;
  color: white;
  position: relative;
}
.blog h2 {
  font-size: 44px;
  padding-top: 200px;
  padding-bottom: 25px;
  position: relative;
}
.blog h2::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 2px;
  background-color: #717171;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}
.blog a {
  color: #F60B0E;
}
.blog__wrapper {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.blog__card {
  width: 400px;
  text-align: left;
}
.blog__img {
  position: relative;
  display: flex;
}
.blog__img img:not(.avatar) {
  width: 400px;
  height: 250px;
}
.blog__img .avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  bottom: 15px;
  left: 5px;
  border: 1px solid white;
}
.blog__img .name {
  position: absolute;
  bottom: 15px;
  left: 45px;
}
.blog__description {
  padding-top: 15px;
  padding-left: 15px;
  font-size: 12px;
  color: #717171;
  position: relative;
}
.blog__description:hover {
  color: #F60B0E;
  transition: ease-in 0.3s;
  cursor: pointer;
}
.blog__description::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 3px;
  background-color: #717171;
  top: 150%;
  left: 0;
}
.blog h5 {
  font-size: 24px;
  padding-left: 15px;
}
.blog h5:hover {
  color: #F60B0E;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}
.blog__text {
  padding-left: 15px;
  padding-bottom: 150px;
  font-size: 14px;
  color: #717171;
}

.who {
  background-color: #222222;
  height: 600px;
}
.who__description {
  font-size: 18px;
  color: #717171;
  display: inline-block;
  transform: rotate(-90deg);
  position: relative;
  top: 200px;
  left: 250px;
}
.who__description::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 3px;
  background-color: #717171;
  top: 70%;
  left: -155px;
}
.who ul {
  margin-left: 450px;
  margin-top: 30px;
}
.who ul li {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: white;
  list-style: none;
  padding: 35px 0;
  font-size: 21px;
  gap: 50px;
}

.photos {
  text-align: center;
  background-color: #1B1B1B;
  color: white;
}
.photos h2 {
  font-size: 44px;
  padding: 200px 0 25px;
  position: relative;
}
.photos h2::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 2px;
  background-color: #717171;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}
.photos a {
  color: #F60B0E;
  letter-spacing: 2px;
}
.photos__wrapper {
  padding: 80px 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 320px);
  grid-template-rows: repeat(2, 320px);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
.photos__btn {
  padding-bottom: 150px;
  text-align: center;
}
.photos__btn a {
  color: white;
  font-size: 18px;
  border-radius: 35px;
  padding: 20px 50px;
  border: 1.5px solid #717171;
}
.photos__btn a:hover {
  opacity: 0.7;
  transition: ease 0.3s;
}

.contact {
  display: flex;
}
.contact .gmap {
  width: 50%;
}

.map {
  width: 50%;
}

.form {
  width: 50%;
  padding: 50px;
  background-color: #222222;
}
.form h2 {
  padding-top: 100px;
  font-size: 44px;
  color: white;
  position: relative;
}
.form h2::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 2px;
  background-color: #717171;
  top: 25%;
  left: 0;
}
.form__name, .form__email, .form__message {
  padding: 10px 0;
}
.form input {
  background-color: #222222;
  font-family: "Montserrat", sans-serif;
}
.form input:focus {
  outline: none;
}
.form input:not([type=button]) {
  border: none;
  border-bottom: 1px solid #717171;
  width: 75%;
  padding: 15px 0;
  color: white;
}
.form #message {
  padding-bottom: 150px;
}
.form input[type=button] {
  border: 1px solid #717171;
  border-radius: 30px;
  color: white;
  padding: 15px 45px;
  cursor: pointer;
}
.form input[type=button]:hover {
  opacity: 0.7;
  transition: ease-in 0.3s;
}
.form__btn {
  padding: 50px 0 25px 0;
}

.book {
  text-align: center;
  padding: 100px 0 150px 0;
}
.book h2 {
  font-size: 44px;
  padding-top: 50px;
  padding-bottom: 25px;
  position: relative;
}
.book h2::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 3px;
  background-color: #717171;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.book p {
  padding-bottom: 50px;
  color: #717171;
}
.book a {
  font-weight: 900;
  font-size: 18px;
  color: white;
  border: none;
  background-color: #F60B0E;
  padding: 20px 35px;
  border-radius: 30px;
}
.book a:hover {
  opacity: 0.7;
  transition: ease-in 0.3s;
}

@media (max-width: 1340px) {
  .photos__wrapper {
    grid-template-columns: repeat(3, 320px);
    grid-template-rows: repeat(3, 320px);
  }
  .carousel {
    background-size: cover;
    width: 100%;
    height: auto;
  }
}
@media (max-width: 1100px) {
  .card__one, .card__two, .card__three {
    flex-direction: column;
    width: 75%;
  }
  .card__content {
    transform: none;
  }
  .card__photo img {
    width: 100%;
    height: auto;
    transform: none;
  }
  .carousel {
    padding: 200px 0;
  }
  .carousel h1 {
    font-size: 78px;
  }
  .who ul {
    margin-left: 250px;
  }
  .who__description {
    left: 50px;
  }
}
@media (max-width: 1024px) {
  .photos__wrapper {
    grid-template-columns: repeat(2, 320px);
    grid-template-rows: repeat(4, 320px);
  }
  .carousel {
    padding-bottom: 100px;
  }
  .carousel h1 {
    padding-left: 50px;
  }
  .carousel a {
    padding-left: 155px;
  }
  .carousel a::before {
    left: 50px;
  }
}
@media (max-width: 769px) {
  .who {
    height: auto;
  }
  .who__description {
    visibility: hidden;
  }
  .who ul {
    margin: 0;
    display: inline-block;
    text-align: left;
  }
  .carousel {
    justify-content: center;
  }
  .carousel .left {
    text-align: center;
  }
  .carousel .right {
    display: none;
  }
  .rooms h2 {
    font-size: 32px;
  }
  .rooms h3 {
    font-size: 28px;
  }
  .rooms__btn {
    display: none;
  }
  .works h2 {
    font-size: 32px;
    padding-top: 75px;
  }
  .works h2::before {
    top: 35%;
  }
  .works h3 {
    font-size: 24px;
  }
  .testimonials h2 {
    padding: 75px;
  }
  .testimonials h2::before {
    top: 20%;
  }
  .testimonials__wrapper {
    gap: 0;
    justify-content: space-evenly;
  }
  .testimonials__content {
    max-width: 40%;
  }
  .blog h2 {
    font-size: 32px;
    padding-top: 100px;
  }
  .blog h2::before {
    top: 35%;
  }
  .blog__text {
    padding-bottom: 20px;
  }
  .photos h2 {
    font-size: 32px;
    padding-top: 75px;
  }
  .photos h2::before {
    top: 35%;
  }
  .photos__btn {
    padding-bottom: 75px;
  }
  .photos__wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 80px 40px;
  }
  .photos__wrapper img {
    width: 100%;
  }
  .book {
    padding-bottom: 75px;
  }
  .book h2 {
    font-size: 32px;
    padding-top: 0;
  }
  .book h2::before {
    top: -75%;
  }
  .form h2 {
    padding-top: 0;
  }
  .form h2::before {
    top: -15px;
  }
  .last {
    padding-bottom: 100px;
  }
}
@media (max-width: 680px) {
  .contact {
    flex-direction: column;
  }
  #map {
    width: 100%;
    height: 600px;
  }
  .form {
    width: 100%;
  }
  .form input:not([type=button]) {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .works__wrapper {
    flex-wrap: wrap;
  }
  .works__content {
    height: auto;
  }
}
@media (max-width: 480px) {
  .rooms h2 {
    font-size: 19px;
  }
  .works h3 {
    font-size: 21px;
  }
  .works h2 {
    font-size: 19px;
  }
  .works__content p {
    font-size: 14px;
  }
  .carousel a {
    padding-left: 0;
  }
  .carousel a::before {
    display: none;
  }
  .carousel h1 {
    font-size: 32px;
    padding: 0 0 10px 0;
  }
  .card__wrapper {
    gap: 50px;
  }
  .card__title {
    font-size: 21px;
  }
  .testimonials h2 {
    font-size: 19px;
  }
  .testimonials__content {
    max-width: 90%;
  }
  .testimonials__content--second {
    display: none;
  }
  .slider {
    display: none;
  }
  .blog h2 {
    font-size: 19px;
  }
  .blog h5 {
    font-size: 21px;
  }
  .who li {
    font-size: 19px;
  }
  .photos h2 {
    font-size: 19px;
  }
  .contact h2 {
    font-size: 19px;
  }
  .book h2 {
    font-size: 19px;
  }
  .book p {
    font-size: 14px;
  }
}
@keyframes dropDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
.header__top {
  text-align: center;
  color: white;
  background-image: url("../images/gallery/slide-1.jpg");
  background-size: cover;
}
.header__top h1 {
  padding-top: 75px;
  padding-bottom: 25px;
  font-size: 120px;
}
.header__top h1 span {
  color: red;
}
.header__top p {
  text-transform: uppercase;
  padding-bottom: 75px;
  font-size: 14px;
  word-spacing: 15px;
}
.header__top p span {
  color: #777;
}

.play {
  background-color: #1B1B1B;
  color: white;
  text-align: center;
}
.play h2 {
  padding-top: 150px;
  font-size: 44px;
  position: relative;
}
.play h2::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 2px;
  background-color: #717171;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0);
}
.play__wrapper {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
.play__content {
  text-align: center;
  max-width: 450px;
  height: 450px;
  padding: 30px;
}
.play__content img {
  width: 75px;
  margin: 0 auto;
  filter: brightness(0) invert(1);
  padding-bottom: 50px;
}
.play__content h3 {
  font-size: 32px;
  padding: 20px 0;
}
.play__content p {
  color: #717171;
}

.video {
  width: 100%;
  height: 400px;
}

.certificates {
  background-color: #1B1B1B;
  color: white;
  text-align: center;
}
.certificates h2 {
  padding-top: 150px;
  font-size: 44px;
  position: relative;
}
.certificates h2::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 2px;
  background-color: #717171;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}
.certificates__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 50px 0 150px 0;
}

.team {
  background-color: #242424;
  color: white;
}
.team h2 {
  padding-top: 150px;
  padding-bottom: 50px;
  font-size: 44px;
  position: relative;
  text-align: center;
}
.team h2::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 2px;
  background-color: #717171;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0);
}
.team__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}
.team__wrapper img {
  width: 100%;
  filter: brightness(60%);
}
.team__wrapper img:hover {
  filter: brightness(100%);
  outline: 10px solid #F60B0E;
  outline-offset: -10px;
  transition: ease 0.3s;
}
.team__card {
  padding-bottom: 50px;
}
.team__card__text {
  padding: 30px;
}
.team__card p {
  color: #717171;
}

.people-say {
  background-color: #1B1B1B;
  color: white;
  text-align: center;
}
.people-say h2 {
  padding-top: 150px;
  padding-bottom: 25px;
  font-size: 44px;
  position: relative;
  text-align: center;
}
.people-say h2::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 2px;
  background-color: #717171;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0);
}
.people-say a {
  color: #F60B0E;
}
.people-say__wrapper {
  display: flex;
  justify-content: center;
  gap: 150px;
  padding-top: 50px;
}
.people-say__content {
  max-width: 30%;
}
.people-say .quote {
  text-align: center;
  padding-bottom: 50px;
  font-size: 16px;
  color: #717171;
}
.people-say img {
  margin: 0 auto;
  padding-bottom: 25px;
}
.people-say .name {
  text-align: center;
  padding-bottom: 75px;
  letter-spacing: 2.5px;
}

.faqs {
  text-align: center;
}
.faqs h2 {
  padding-top: 150px;
  font-size: 44px;
  position: relative;
}
.faqs h2::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 2px;
  background-color: #717171;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0);
}
.faqs .subheading {
  color: #717171;
}
.faqs__container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0;
}
.faqs__question {
  padding: 30px 20px;
  cursor: pointer;
  width: 60%;
  margin: 0 auto;
  text-align: left;
  position: relative;
}
.faqs__question:hover {
  color: #F60B0E;
}
.faqs__question::before {
  content: "➕";
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  background-color: rgb(241, 241, 241);
  padding: 20px;
  border-radius: 50%;
  position: absolute;
  left: -50px;
  top: 15px;
}
.faqs__answer {
  color: #1B1B1B;
  display: none;
  overflow: hidden;
  animation: dropDown 0.3s;
  padding: 0 20px 20px 20px;
  width: 60%;
  margin: 0 auto;
  text-align: left;
}

.active::before {
  content: "➖";
}

@media (max-width: 870px) {
  .header__top h1 {
    padding-top: 150px;
  }
}
@media (max-width: 769px) {
  .play h2, .certificates h2, .team h2, .people-say h2, .faqs h2 {
    font-size: 32px;
    padding-top: 75px;
    padding-left: 0;
    padding-right: 0;
  }
  .play h2::before, .certificates h2::before, .team h2::before, .people-say h2::before, .faqs h2::before {
    top: 35%;
  }
  .play h3 {
    font-size: 24px;
  }
}
@media (max-width: 660px) {
  .play__wrapper {
    flex-wrap: wrap;
  }
  .play__content {
    height: auto;
  }
}
@media (max-width: 480px) {
  .slider {
    display: none;
  }
  .people-say__content {
    max-width: 90%;
  }
  .people-say__content--second {
    display: none;
  }
}
.map__full {
  width: 100%;
  height: 100%;
}

.section__map {
  height: 500px;
}

.form__message__full {
  width: 90% !important;
}
.form__name-email {
  display: flex;
}
.form__heading::before {
  display: none;
}
.form__new {
  width: 60%;
}

.full {
  width: 100%;
}

.informations {
  background-color: #222222;
  width: 40%;
  padding-left: 50px;
  color: #777;
}
.informations h2 {
  padding-top: 150px;
  font-size: 44px;
  position: relative;
  color: white;
}
.informations__description {
  padding-bottom: 20px;
}
.informations__list {
  list-style: none;
}
.informations__elements {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.informations__elements p {
  padding-left: 20px;
}

.btn__red {
  background-color: red !important;
  border: none !important;
  width: 80%;
}

@media (max-width: 769px) {
  .informations h2 {
    padding-top: 50px;
  }
  .informations__list {
    padding: 0;
  }
}
@media (max-width: 680px) {
  .informations {
    width: 100%;
  }
  .form__new {
    width: 100%;
  }
}
@media (max-width: 750px) {
  .header__top h1 {
    font-size: 32px;
  }
}
@keyframes fromLeft {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(0);
  }
}
.nav {
  background-color: #222222;
}
.nav ul li {
  list-style: none;
}
.nav ul li a {
  font-size: 14px;
  font-weight: 600;
  position: relative;
  z-index: 1;
}
.nav ul li a:hover:not(.right) {
  color: white;
}
.nav ul li a:hover:not(.right)::before {
  content: "";
  width: 2px;
  height: 35px;
  position: absolute;
  background-color: red;
  left: 50%;
  top: 18px;
  transform: rotate(45deg);
  z-index: -1;
}
.nav__mobile {
  position: fixed;
  display: none;
  z-index: 5;
  background-color: #222222;
  animation: fromLeft 0.4s;
}
.nav__mobile ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav__mobile ul li {
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav__mobile ul li a {
  color: white;
  font-weight: 600;
}
.nav__mobile ul li img {
  width: 25px;
  filter: invert(1);
  margin-right: 20px;
}
.nav__btn {
  border: 1px solid #777;
  border-radius: 35px;
  padding: 10px 25px;
}
.nav__btn:hover {
  color: #777;
}
.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__left {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.nav__left li a {
  padding: 24px;
  color: #777;
}
.nav__right {
  display: flex;
  margin: 0;
  padding: 0;
}
.nav__right li {
  padding: 10px;
  color: #777;
}
.nav__right li a {
  color: white;
}
.nav__right__sign {
  padding-left: 0;
  padding-right: 20px;
}
.nav__right__sign:hover {
  color: #777;
}
.nav__icon {
  width: 25px;
  filter: invert(100%) sepia(94%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
}
.nav__logo {
  padding-right: 50px;
}

.search {
  width: 15px;
  transform: translate(0, 5px);
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding-right: 20px;
  font-weight: 600;
  cursor: pointer;
  display: none;
}
.hamburger span {
  line-height: 5px;
  color: white;
}

.close span:nth-child(1) {
  transform: rotate(45deg) translate(8px);
}
.close span:nth-child(2) {
  opacity: 0;
}
.close span:nth-child(3) {
  transform: rotate(-45deg) translate(6px);
}

@media (max-width: 1245px) {
  .nav__btn {
    display: none;
  }
}
@media (max-width: 1110px) {
  .nav__logo {
    padding-right: 10px;
  }
  .nav__left li a {
    padding: 25px 10px;
  }
}
@media (max-width: 870px) {
  .hamburger {
    display: flex;
  }
  .nav__mobile {
    display: none;
    height: 100%;
    width: 75%;
    z-index: 200;
  }
  .nav__mobile__sign {
    display: flex;
  }
  .nav {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: rgba(43, 43, 43, 0.5);
    z-index: 100;
  }
  .nav__wrapper {
    position: fixed;
    width: 100%;
  }
  .nav__left a {
    display: none;
  }
  .nav__right li {
    padding: 5px;
  }
  .nav__right__sign {
    display: none;
  }
  .nav__icon:not(.search) {
    display: none;
  }
  .vertical__rule {
    display: none;
  }
  .search {
    transform: translate(-50px, -5px);
  }
}
* {
  font-family: "Hind", sans-serif;
}

.titlePageRooms {
  height: 100%;
  background-image: url(../images/gallery/slide-1.jpg);
  background-size: cover;
  background-position: center;
  color: #fefefe;
  text-align: center;
}
.titlePageRooms strong {
  color: gray;
}
.titlePageRooms p {
  padding-bottom: 70px;
  font-size: 14px;
}
.titlePageRooms h1 {
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  padding-top: 150px;
}
.titlePageRooms h1 span {
  color: red;
  font-size: 32px;
}

.buttonSectionRooms {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #222222;
  padding-top: 20px;
}
.buttonSectionRooms button {
  width: 160px;
  height: 35px;
  border-radius: 35px;
  color: #fefefe;
  background-color: #222222;
  border: 1px solid #fefefe;
  margin-bottom: 15px;
}
.buttonSectionRooms button:hover {
  background-color: #F60B0E;
  border: none;
}

.roomsPage {
  background-color: #222222;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 375px));
  grid-gap: 0.2em;
  grid-auto-rows: 550px;
  place-content: center;
  padding-bottom: 40px;
}

.backgroundRooms {
  backdrop-filter: brightness(0.4);
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.backgroundRooms h2 {
  margin: 10px 10px 10px 30px;
  color: #fefefe;
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
}

.lockIconRooms {
  margin: 10px 10px 10px 30px;
}
.lockIconRooms .svg-inline--fa {
  height: 1.4em;
  margin-left: 2px;
}

.infoRooms {
  width: 180px;
  margin: 10px 10px 20px 30px;
  display: flex;
  justify-content: space-between;
  color: #fefefe;
  font-size: 0.8em;
}
.infoRooms .fat-solid fa-user-group {
  color: #fefefe;
}
.infoRooms .fa-regular fa-clock {
  color: #fefefe;
  width: 20px;
}
.infoRooms .svg-inline--fa {
  height: 0.8em;
  margin-top: 4px;
  margin-right: 10px;
}
.infoRooms .infoRooms_people, .infoRooms .infoRooms_clock, .infoRooms .infoRooms_location {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.rooms_magicImperium {
  background-image: url(../images/gallery/slide-2.jpg);
  background-size: cover;
  background-position: center;
  margin: 10px;
}

.rooms_theCure {
  background-image: url(../images/gallery/room-2.jpg);
  background-size: cover;
  background-position: center;
  margin: 10px;
}

.rooms_burlesque {
  background-image: url(../images/gallery/room-3.jpg);
  background-size: cover;
  background-position: center;
  margin: 10px;
}

.rooms_theHospital {
  background-image: url(../images/gallery/room-5.jpg);
  background-size: cover;
  background-position: center;
  margin: 10px;
}

.rooms_abandonedFactory {
  background-image: url(../images/gallery/gallery-1.jpg);
  background-size: cover;
  background-position: center;
  margin: 10px;
}

.rooms_bunker51 {
  background-image: url(../images/gallery/room-7.jpg);
  background-size: cover;
  background-position: center;
  margin: 10px;
}

.rooms_theMysticalRoom {
  background-image: url(../images/gallery/room-8.jpg);
  background-size: cover;
  background-position: center;
  margin: 10px;
}

.rooms_backToTheFutur {
  background-image: url(../images/gallery/room-9.jpg);
  background-size: cover;
  background-position: center;
  margin: 10px;
}

.rooms_addPrisonBreak, .rooms_addMagicImperium, .rooms_addBurlesque, .rooms_adTtheHospital {
  display: none;
}

.rooms_selection {
  display: none;
}

@media screen and (min-width: 760px) and (max-width: 1023px) {
  .roomsPage {
    grid-template-columns: repeat(4, 180px);
    grid-gap: 0.2em;
    grid-auto-rows: 260px;
    padding-bottom: 100px;
    justify-content: center;
  }
  .backgroundRooms h1 {
    font-size: 44px;
  }
  .backgroundRooms h1 span {
    font-size: 44px;
  }
  .backgroundRooms p {
    font-size: 12px;
  }
  .backgroundRooms h2 {
    font-size: 17px;
    margin: 10px 5px 10px 20px;
  }
  .buttonSectionRooms {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
  }
  .buttonSectionRooms button {
    width: 100px;
    margin-bottom: 15px;
    margin-right: 15px;
  }
  .infoRooms {
    width: 100px;
    margin: 5px 5px 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .lockIconRooms {
    margin: 5px 5px 5px 20px;
  }
  .lockIconRooms .svg-inline--fa {
    height: 1em;
    margin-left: 2px;
  }
  .infoRooms_people, .infoRooms_clock, .infoRooms_location {
    margin-bottom: 0px !important;
  }
  .infoRooms .svg-inline--fa {
    margin-top: 2px;
  }
  .rooms_addPrisonBreak, .rooms_addMagicImperium, .rooms_addBurlesque, .rooms_adTtheHospital {
    display: none;
  }
  .rooms_selection {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .roomsPage {
    grid-template-columns: repeat(4, 250px);
    grid-gap: 0.2em;
    grid-auto-rows: 370px;
    padding-bottom: 100px;
    justify-content: center;
  }
  .roomsPage p {
    font-size: 16px;
  }
  .backgroundRooms h1 {
    font-size: 120px;
  }
  .backgroundRooms h1 span {
    font-size: 120px;
  }
  .backgroundRooms p {
    font-size: 16px;
  }
  .backgroundRooms h2 {
    font-size: 20px;
  }
  .buttonSectionRooms {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
  }
  .buttonSectionRooms button {
    width: 100px;
    margin-bottom: 15px;
    margin-right: 15px;
  }
  .rooms_addPrisonBreak {
    display: grid;
    background-image: url(../images/gallery/room-2.jpg);
    background-size: cover;
    background-position: center;
    margin: 10px;
  }
  .rooms_addMagicImperium {
    display: grid;
    background-image: url(../images/gallery/slide-2.jpg);
    background-size: cover;
    background-position: center;
    margin: 10px;
  }
  .rooms_addBurlesque {
    display: grid;
    background-image: url(../images/gallery/room-3.jpg);
    background-size: cover;
    background-position: center;
    margin: 10px;
  }
  .rooms_adTtheHospital {
    display: grid;
    background-image: url(../images/gallery/room-5.jpg);
    background-size: cover;
    background-position: center;
    margin: 10px;
  }
  .rooms_selection {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 15px;
    padding: 20px 0;
  }
  .rooms_selection__button {
    display: block;
    height: 40px;
    width: 40px;
    padding: 10px;
    border: 1px solid #717171;
    border-radius: 50%;
    background-color: #1B1B1B;
    color: #717171;
    text-align: center;
  }
  .rooms_selection__button:hover {
    background-color: #F60B0E;
  }
  .rooms_selection p {
    letter-spacing: 5px;
    transform: translateY(5px);
  }
}
@media screen and (min-width: 1920px) {
  .roomsPage {
    grid-template-columns: repeat(4, 300px);
    grid-gap: 0.2em;
    grid-auto-rows: 400px;
    padding-bottom: 100px;
    justify-content: center;
  }
  .rooms_addPrisonBreak {
    display: grid;
    background-image: url(../images/gallery/room-2.jpg);
    background-size: cover;
    background-position: center;
    margin: 10px;
  }
  .rooms_addMagicImperium {
    display: grid;
    background-image: url(../images/gallery/slide-2.jpg);
    background-size: cover;
    background-position: center;
    margin: 10px;
  }
  .rooms_addBurlesque {
    display: grid;
    background-image: url(../images/gallery/room-3.jpg);
    background-size: cover;
    background-position: center;
    margin: 10px;
  }
  .rooms_adTtheHospital {
    display: grid;
    background-image: url(../images/gallery/room-5.jpg);
    background-size: cover;
    background-position: center;
    margin: 10px;
  }
  .rooms_selection {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 15px;
    padding: 20px 0;
  }
  .rooms_selection__button {
    display: block;
    height: 40px;
    width: 40px;
    padding: 10px;
    border: 1px solid #717171;
    border-radius: 50%;
    background-color: #1B1B1B;
    color: #717171;
    text-align: center;
  }
  .rooms_selection__button:hover {
    background-color: #F60B0E;
  }
  .rooms_selection p {
    letter-spacing: 5px;
    transform: translateY(5px);
  }
}
* {
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  width: 100%;
  color: #717171;
  font-size: 14px;
  font-family: "Hind", sans-serif;
  background-image: url(../images/gallery/slide-3.jpg);
}

.backgroundFooter {
  width: 100%;
  backdrop-filter: brightness(0.1);
}

.sectionFooter {
  width: fit-content;
  margin: 10px;
}

.endFooter {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 20px 0px 20px;
}
.endFooter h4 {
  color: #fefefe;
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 21px;
}

.numberFooter {
  width: 70px;
  display: flex;
  flex-direction: row;
}
.numberFooter hr {
  transform: rotate(90deg);
  height: 20px;
  margin-left: 20px;
  border-color: #F60B0E;
}

.endFooter_address {
  margin: 15px 0px 20px 20px;
  line-height: 20px;
}

.endFooter_usefulLinks {
  margin: 15px 0px 20px 26px;
}
.endFooter_usefulLinks ul {
  padding: 0px;
}
.endFooter_usefulLinks li {
  list-style: none;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.endFooter_usefulLinks a {
  text-decoration: none;
  color: #717171;
}

.endFooter_usefulLinks a:hover {
  color: #F60B0E;
}

.endFooter_working {
  margin: 15px 0px 20px 20px;
}
.endFooter_working .endFooter_working_hours {
  display: flex;
  flex-direction: row;
}
.endFooter_working .endFooter_working_hours_day {
  margin-right: 20px;
  line-height: 35px;
}
.endFooter_working .endFooter_working_hours_time {
  line-height: 35px;
}

.endFooter_socialLinks {
  margin: 15px 0px 20px 20px;
}
.endFooter_socialLinks .svg-inline--fa {
  width: 16px;
  height: 16px;
  color: #fefefe;
  background-color: #1B1B1B;
  border-radius: 20px;
  padding: 10px;
  margin-right: 5px;
  margin-top: 15px;
}

.endFooter_end {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 25px;
}
.endFooter_end img {
  width: 110px;
  margin: 15px 0px;
}

.emailFooter {
  color: #fefefe;
}

@media screen and (min-width: 760px) and (max-width: 1023px) {
  .endFooter {
    justify-content: space-around;
  }
  .sectionFooter {
    width: 140px;
  }
  .endFooter_working_hours_day p {
    margin-bottom: 35px;
  }
  .endFooter_working_hours_day #wednesdayFooter {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1024px) {
  .endFooter {
    justify-content: space-around;
  }
}
* {
  font-family: "Hind", sans-serif;
  font-size: 14px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.theCure_titlePage {
  background-color: #1B1B1B;
}

.theCure_generalInfo {
  background-color: #1B1B1B;
}

.theCure_generalInfo_head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 30px 45px 15px 40px;
}
.theCure_generalInfo_head p {
  color: #fefefe;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 12px;
  font-size: 12px;
}

.theCure_generalInfo_difficulty_lockIcon {
  margin: 10px;
}
.theCure_generalInfo_difficulty_lockIcon .svg-inline--fa {
  height: 1.2em;
  margin-left: 2px;
}

.theCure_generalInfo_players_icon, .theCure_generalInfo_minutes_icon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}
.theCure_generalInfo_players_icon p, .theCure_generalInfo_minutes_icon p {
  color: gray;
  margin-left: 10px;
}

.theCure_generalInfo_text {
  color: gray;
  margin: 20px 20px 10px 20px;
}
.theCure_generalInfo_text p {
  margin-left: 20px;
}

.theCure_generalInfo_phone {
  display: flex;
  margin: 20px 20px 10px 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}
.theCure_generalInfo_phone p {
  margin-left: 20px;
  color: #fefefe;
}

.theCure_generalInfo_email {
  display: flex;
  margin: 20px 20px 10px 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}
.theCure_generalInfo_email p {
  margin-left: 20px;
  color: #fefefe;
}

.theCure_generalInfo_skype {
  display: flex;
  margin: 20px 20px 10px 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}
.theCure_generalInfo_skype p {
  margin-left: 20px;
  color: #fefefe;
}

.theCure_generalInfo_location {
  display: flex;
  margin: 20px 20px 10px 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}
.theCure_generalInfo_location p {
  margin-left: 20px;
  color: gray;
}

.theCure_generalInfo_bookingButton {
  color: #fefefe;
  background-color: #F60B0E;
  border: none;
  padding: 12px 40px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 35px;
  margin: 20px 20px 40px 20px;
}

.theCure_generalInfo_bookingButton:hover {
  opacity: 0.7;
  transition: ease-in 0.2s;
}

.theCure_otherRooms {
  background-color: #1B1B1B;
  width: auto;
  height: 100%;
  padding-bottom: 100px;
}
.theCure_otherRooms h2 {
  font-size: 28px;
  margin: 0px 0px 8px 20px;
  font-weight: 700;
  color: #fefefe;
}
.theCure_otherRooms .rooms_theMysticalRoom {
  width: auto;
  height: 370px;
  margin: 20px;
  color: #fefefe;
}
.theCure_otherRooms .rooms_theMysticalRoom h3 {
  margin-left: 30px;
  font-size: 16px;
}
.theCure_otherRooms .rooms_bunker51 {
  display: none;
  width: auto;
  height: 370px;
  margin: 20px;
  color: #fefefe;
}
.theCure_otherRooms .rooms_bunker51 h3 {
  margin-left: 30px;
  font-size: 16px;
}
.theCure_otherRooms .rooms_backToTheFutur {
  display: none;
  width: auto;
  height: 370px;
  margin: 20px;
  color: #fefefe;
}
.theCure_otherRooms .rooms_backToTheFutur h3 {
  margin-left: 30px;
  font-size: 16px;
}

@media screen and (min-width: 760px) and (max-width: 1023px) {
  .theCure_otherRooms h2 {
    margin-left: 40px;
    padding-top: 100px;
  }
  .theCure_otherRooms .theCure_otherRooms_selection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-gap: 0.2em;
    grid-auto-rows: minmax(250px, 1fr);
    margin: 0px 30px;
  }
  .theCure_otherRooms .theCure_otherRooms_selection .rooms_theMysticalRoom {
    height: auto;
    margin: 10px;
  }
  .theCure_otherRooms .theCure_otherRooms_selection .rooms_theMysticalRoom h3 {
    margin-left: 20px;
  }
  .theCure_otherRooms .theCure_otherRooms_selection .rooms_bunker51 {
    display: block;
    height: auto;
    margin: 10px;
  }
  .theCure_otherRooms .theCure_otherRooms_selection .rooms_bunker51 h3 {
    margin-left: 20px;
  }
  .theCure_otherRooms .theCure_otherRooms_selection .rooms_backToTheFutur {
    display: block;
    height: auto;
    margin: 10px;
  }
  .theCure_otherRooms .theCure_otherRooms_selection .rooms_backToTheFutur h3 {
    margin-left: 20px;
  }
  .theCure_generalInfo {
    display: flex;
    flex-direction: row;
    padding: 0px 25px;
  }
  .theCure_generalInfo_inside {
    display: flex;
    flex-direction: column;
  }
  .theCure_generalInfo_footer {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 44px;
    margin: 0px 0px 10px 25px;
  }
  .theCure_otherRooms h2 {
    margin-left: 90px;
    padding-top: 100px;
  }
  .theCure_otherRooms .theCure_otherRooms_selection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-gap: 0.2em;
    grid-auto-rows: minmax(250px, 1fr);
    margin: 0px 75px;
  }
  .theCure_otherRooms .theCure_otherRooms_selection .rooms_theMysticalRoom {
    height: auto;
    margin: 10px;
  }
  .theCure_otherRooms .theCure_otherRooms_selection .rooms_theMysticalRoom h3 {
    margin-left: 30px;
  }
  .theCure_otherRooms .theCure_otherRooms_selection .rooms_bunker51 {
    display: block;
    height: auto;
    margin: 10px;
  }
  .theCure_otherRooms .theCure_otherRooms_selection .rooms_bunker51 h3 {
    margin-left: 30px;
  }
  .theCure_otherRooms .theCure_otherRooms_selection .rooms_backToTheFutur {
    display: block;
    height: auto;
    margin: 10px;
  }
  .theCure_otherRooms .theCure_otherRooms_selection .rooms_backToTheFutur h3 {
    margin-left: 30px;
  }
  .theCure_generalInfo {
    display: flex;
    flex-direction: row;
    padding: 0px 70px;
  }
  .theCure_generalInfo_inside {
    display: flex;
    flex-direction: column;
  }
  .theCure_generalInfo_footer {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1920px) {
  .theCure_generalInfo {
    padding: 100px 450px;
  }
  .theCure_otherRooms .theCure_otherRooms_selection {
    margin: 0px 400px;
    grid-auto-rows: minmax(250px, 330px);
  }
  .theCure_otherRooms h2 {
    margin-left: 410px;
  }
}

/*# sourceMappingURL=style.css.map */
