* {
  margin: 0;
  padding: 0;
}

.titlePageRooms {
  height: 170px;
  background-image: url(../images/gallery/slide-1.jpg);
  color: whitesmoke;
  text-align: center;
}
.titlePageRooms strong {
  color: gray;
}
.titlePageRooms p {
  padding-bottom: 70px;
  font-size: small;
}
.titlePageRooms h1 {
  font-size: xx-large;
}

.buttonSectionRooms {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: grey;
  padding-top: 20px;
}
.buttonSectionRooms button {
  width: 160px;
  height: 35px;
  border-radius: 20px;
  color: whitesmoke;
  background-color: grey;
  border: 1px solid whitesmoke;
  margin-bottom: 15px;
}
.buttonSectionRooms button button:hover {
  background-color: red;
  border: none;
}

.rooms {
  background-color: grey;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
  grid-auto-rows: 550px;
}

.backgroundRooms {
  backdrop-filter: brightness(0.4);
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.backgroundRooms h2 {
  margin: 10px 10px 10px 30px;
  color: whitesmoke;
  font-size: large;
}

.lockIconRooms {
  margin: 10px 10px 10px 30px;
}
.lockIconRooms .svg-inline--fa {
  height: 0.9em;
}

.infoRooms {
  width: 180px;
  margin: 10px 10px 20px 30px;
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
  font-size: 0.8em;
}
.infoRooms .fat-solid fa-user-group {
  color: whitesmoke;
}
.infoRooms .fa-regular fa-clock {
  color: whitesmoke;
  width: 20px;
}
.infoRooms .svg-inline--fa {
  height: 0.8em;
  margin-top: 2px;
  margin-right: 10px;
}
.infoRooms .infoRooms_people, .infoRooms .infoRooms_clock, .infoRooms .infoRooms_location {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.rooms_magicImperium {
  background-image: url(../images/gallery/slide-2.jpg);
  background-size: cover;
  background-position: center;
  margin: 10px;
}

.rooms_theCure {
  background-image: url(../images/gallery/room-2.jpg);
  background-size: cover;
  background-position: center;
  margin: 10px;
}

.rooms_burlesque {
  background-image: url(../images/gallery/room-3.jpg);
  background-size: cover;
  background-position: center;
  margin: 10px;
}

.rooms_theHospital {
  background-image: url(../images/gallery/room-5.jpg);
  background-size: cover;
  background-position: center;
  margin: 10px;
}

.rooms_abandonedFactory {
  background-image: url(../images/gallery/gallery-1.jpg);
  background-size: cover;
  background-position: center;
  margin: 10px;
}

.rooms_bunker51 {
  background-image: url(../images/gallery/room-7.jpg);
  background-size: cover;
  background-position: center;
  margin: 10px;
}

.rooms_theMysticalRoom {
  background-image: url(../images/gallery/room-8.jpg);
  background-size: cover;
  background-position: center;
  margin: 10px;
}

.rooms_backToTheFutur {
  background-image: url(../images/gallery/room-9.jpg);
  background-size: cover;
  background-position: center;
  margin: 10px;
}

@media screen and (min-width: 760px) and (max-width: 1023px) {
  .rooms {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.2em;
    grid-auto-rows: 260px;
  }
  .buttonSectionRooms {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
  }
  .buttonSectionRooms button {
    width: 100px;
    height: 35px;
    border-radius: 20px;
    color: whitesmoke;
    background-color: grey;
    border: 1px solid whitesmoke;
    margin-bottom: 15px;
    margin-right: 15px;
  }
  .infoRooms {
    width: 100px;
    margin: 0px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1024px) {
  .rooms {
    grid-template-columns: repeat(4, 1fr);
  }
}
* {
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  width: 100%;
  color: gray;
  font-size: 14px;
  font-family: Hind, sans-serif;
  background-image: url(../images/gallery/slide-3.jpg);
}

.backgroundFooter {
  width: 100%;
  backdrop-filter: brightness(0.1);
}

.sectionFooter {
  width: fit-content;
  margin: 10px;
}

.endFooter {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 20px 0px 20px;
}
.endFooter h4 {
  color: whitesmoke;
  font-family: Montserrat, sans-serif;
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 21px;
}

.numberFooter {
  width: 70px;
  display: flex;
  flex-direction: row;
}
.numberFooter hr {
  transform: rotate(90deg);
  height: 20px;
  margin-left: 20px;
  border-color: red;
}

.endFooter_address {
  margin: 15px 0px 20px 20px;
  line-height: 20px;
}

.endFooter_usefulLinks {
  margin: 15px 0px 20px 20px;
}
.endFooter_usefulLinks ul {
  padding: 0px;
}
.endFooter_usefulLinks li {
  list-style: none;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.endFooter_usefulLinks a {
  text-decoration: none;
  color: gray;
}

.endFooter_working {
  margin: 15px 0px 20px 20px;
}
.endFooter_working .endFooter_working_hours {
  display: flex;
  flex-direction: row;
}
.endFooter_working .endFooter_working_hours_day {
  margin-right: 20px;
  line-height: 35px;
}
.endFooter_working .endFooter_working_hours_time {
  line-height: 35px;
}

.endFooter_socialLinks {
  margin: 15px 0px 20px 20px;
}
.endFooter_socialLinks .svg-inline--fa {
  width: 16px;
  height: 16px;
  color: whitesmoke;
  background-color: gray;
  border-radius: 20px;
  padding: 10px;
  margin-right: 5px;
  margin-top: 15px;
}

.endFooter_end {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 25px;
}
.endFooter_end img {
  width: 110px;
  margin: 15px 0px;
}

.emailFooter {
  color: whitesmoke;
}

@media screen and (min-width: 760px) and (max-width: 1023px) {
  .endFooter {
    justify-content: space-around;
  }
  .sectionFooter {
    width: 140px;
  }
  .endFooter_working_hours_day p {
    margin-bottom: 35px;
  }
  .endFooter_working_hours_day #wednesdayFooter {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1024px) {
  .endFooter {
    justify-content: space-around;
  }
}

/*# sourceMappingURL=style.css.map */
